---
import '../styles/global.css';
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="../assets/rupiah.png" />
  </head>
  <body class="bg-sky-950 font-mono">
    <div class="flex items-center justify-center text-center">
      <div class="flex-grow m-2 mt-9 bg-amber-700 text-white size-15 text-4xl">
        Romeo Popescu
      </div>
    </div>
  </body>
</html>
