---
import '../styles/global.css';
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon" type="image/svg+xml" href="../assets/rupiah.png" />
        <title>Romeo Popescu</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Bitcount+Single+Ink:wght@100..900&display=swap" rel="stylesheet">

        <style>
            body {
            font-family: "Bitcount Single Ink", sans-serif;
            }
        </style>

    </head>
    <body class="bg-sky-950 font-mono">
        <div class="flex flex-col">
            <div class="flex-grow m-2 mt-9 text-gray-300 text-4xl">
                Romeo Popescu
            </div>
            <div class="font-light ml-2 text-gray-300 ">
                Fullstack developer
            </div>
        </div>
        <div class="flex flex-col justify-center items-center align-center">
            <div>
                Projects
            </div>

        </div>
    </body>
</html>
